<!DOCTYPE html>
{% extends "base.html" %}
{% block content%}

    <body>
        <h1>Kw Blog<h1>
        <form action="/blog" method="post">
            <label>
                <div>title</div>
                <input type="text" name="title">
            </label>

            <label>
                <div>blog content</div>
                <textarea name="art">{{art}}</textarea>
            </label>

            <div class="error">{{error}}</div>

            <input type="submit">
        </form>
        <hr>
    </body>
</html>
{% endblock %}
